<form [formGroup]="userForm" (ngSubmit)="onClick()" class="form">
    <label>
    Username:
        <input type="text" formControlName="name">
    </label>

    <div formGroupName="credentials">
        <label>
            Email
            <input type="text" formControlName="email">
        </label>
 
        <label>
            Mot de passe
            <input type="password" formControlName="password">
        </label>
    </div>

    <div formGroupName="address">
        <label>
            Adresse
            <input class="n" type="text" formControlName="street">
        </label>
        <label>
            Code Postal
            <input class="n" type="text" formControlName="cp">
        </label>
        <label>
            Ville
            <input class="n" type="text" formControlName="ville">
        </label>
    </div>

        <button type="submit" [disabled]="!userForm.valid">Go</button>
</form>

