<form [formGroup]="userForm" (ngSubmit)="onClick()" class="form">
    <label>
    Username:
        <input type="text" formControlName="name">
    </label>

    <div formGroupName="credentials">
        <label>
            Email
            <input type="text" formControlName="email">
            {{ userForm.get('credentials.email').errors?.email.rules }}
            <div *ngIf="userForm.get('credentials.email').errors && !userForm.get('credentials.email').pristine" class="error-msg">
            </div>
        </label>
 
        <label>
            Password:
            <input type="password" formControlName="password">
            {{ userForm.get('credentials.password').errors?.password.rules }}
            <div *ngIf="userForm.get('credentials.password').errors && !userForm.get('credentials.password').pristine" class="error-msg">
            </div>
        </label>
    </div>

    <div formGroupName="address">
        <label>
            Adresse
            <input class="n" type="text" formControlName="street">
        </label>
        <label>
            Code Postal
            <input class="n" type="text" formControlName="cp">
        </label>
        <label>
            Ville
            <input class="n" type="text" formControlName="ville">
        </label>
    </div>

        <button type="submit" [disabled]="!userForm.valid">Go</button>
</form>

